#### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = "This is a test of the emergency text system

In [3]:
with open("test.txt",'w') as f:
    f.write(test1)

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [1]:
with open("test.txt",'r') as f:
    test2 = f.read()

print(test2)

This is a test of the emergency text system

#### 3. Create a CSV file called books.csv by using these lines:

`title,author,year`

`The Weirdstone of Brisingamen,Alan Garner,1960`

`Perdido Street Station,China Miéville,2000`

`Thud!,Terry Pratchett,2005	`

`The Spellman Files,Lisa Lutz,2007`

`Small Gods,Terry Pratchett,1992`

In [20]:
import csv

fields = ['title', 'author', 'year'] 
rows = [["The Weirdstone of Brisingamen","Alan Garner",1960],["Perdido Street Station","China Miéville",2000],["Thud!","Terry Pratchett",2005],["The Spellman Files","Lisa Lutz",2007],["Small Gods","Terry Pratchett",1992]]

filename = "books.csv"

with open(filename,'w',newline="")as csvfile:
    csvWriter = csv.writer(csvfile)
    csvWriter.writerow(fields)
    csvWriter.writerows(rows)

#### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [34]:
import mysql.connector as connection

mydb = connection.connect(host= "localhost", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("create database books")
print("Database Created!!")
mydb.close()

Database Created!!

In [35]:
import mysql.connector as connection

mydb = connection.connect(host= "localhost", database="books", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
cur.execute("create table book(title VARCHAR(50), author VARCHAR(50), years INT(10))")
print("Table Created!!")

Table Created!!

#### 5. Read books.csv and insert its data into the book table.

In [36]:
import csv


mydb = connection.connect(host= "localhost", database="books", user= "root", passwd= "mysql", use_pure= True)
cur = mydb.cursor()
with open("books.csv",'r')as f:
    next(f)
    data_csv = csv.reader(f,delimiter="\n")
    for i in data_csv:
        print(i)
        split_data = i[0].split(",")
        join_data = ",".join('"'+e+'"' for e in split_data)
        print(join_data)
        cur.execute(f"insert into book values({join_data})")
        
mydb.commit()

['The Weirdstone of Brisingamen,Alan Garner,1960']
"The Weirdstone of Brisingamen","Alan Garner","1960"
['Perdido Street Station,China Miéville,2000']
"Perdido Street Station","China Miéville","2000"
['Thud!,Terry Pratchett,2005']
"Thud!","Terry Pratchett","2005"
['The Spellman Files,Lisa Lutz,2007']
"The Spellman Files","Lisa Lutz","2007"
['Small Gods,Terry Pratchett,1992']
"Small Gods","Terry Pratchett","1992"

#### 6. Select and print the title column from the book table in alphabetical order.

In [38]:
import pandas as pd
pd.read_sql("select title from book order by title asc",mydb)

                           title
0         Perdido Street Station
1                     Small Gods
2             The Spellman Files
3  The Weirdstone of Brisingamen
4                          Thud!

#### 7. From the book table, select and print all columns in the order of publication.

In [40]:
pd.read_sql("select title,author,years from book order by years",mydb)

                           title           author  years
0  The Weirdstone of Brisingamen      Alan Garner   1960
1                     Small Gods  Terry Pratchett   1992
2         Perdido Street Station   China Miéville   2000
3                          Thud!  Terry Pratchett   2005
4             The Spellman Files        Lisa Lutz   2007

#### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [55]:
import sqlalchemy

engine = sqlalchemy.create_engine("sqlite:///books.db")
engine

Engine(sqlite:///books.db)

#### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [58]:
!pip install redis

Requirement already satisfied: redis in c:\users\atanu\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\atanu\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: packaging>=20.4 in c:\users\atanu\anaconda3\lib\site-packages (from redis) (21.0)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\atanu\anaconda3\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\atanu\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\atanu\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

#### 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)